.App {
  text-align: center;
  background-color: rgb(243 242 247);
}
.App h2{
  display: inline-flex;
  color: rgb(78 78 80);
  padding-top: 30px;
}
.App .my-task{
  width: 80%;
  margin: auto;
  /* background-color: #fff; */
  padding: 15px;
  border-radius: 20px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
